@{
    var users = ViewBag.Users as List<User>;
    var Transfers = ViewBag.Transfers as List<Transaction>;
}
<div class="container my-3">

    <div class="card my-3">

        <div class="card-body">
            <div class="card-title">
                <h2>Users</h2>
            </div>

            @if (users != null && users.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in users)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Surname</td>
                                <td>@user.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No users found.</p>
            }

        </div>

    </div>

    <div class="card my-3">

        <div class="card-body">
            <div class="card-title">
                <h2>Transfers</h2>
            </div>

            @if (Transfers != null && Transfers.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>SenderAccount IBAN</th>
                            <th>ReceiverAccount IBAN</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Transfers)
                        {
                            <tr>
                                <td>@transaction.Amount</td>
                                <td>@transaction.SenderAccount.IBAN</td>
                                <td>@transaction.ReceiverAccount.IBAN</td>
                                <td>@transaction.TransactionDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No transfers found.</p>
            }

        </div>

    </div>

</div>